/* App.css */
body {
  background-color: #f0f8ff; /* AliceBlue */
  color: #2f6c99; /* Navy */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height set to 100% of the viewport height */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the App component takes the full height */
}

.App-header {
  background-color: #4abbe1; /*背景颜色*/
  padding: 20px;
  text-align: center;
}

.App-content {
  flex: 1; /* This makes the main content take up the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #e0f7fa, #80deea); /* 渐变背景颜色 */
  border-radius: 0px; /* 圆角边框 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}

.App-footer {
  background-color: #4abbe1; /*背景颜色*/
  padding: 10px;
  text-align: center;
}

.glow {
  color: #ffffff; /* White */
  text-shadow: 0 0 10px #00bfff, 0 0 20px #00bfff, 0 0 30px #00bfff, 0 0 40px #00bfff, 0 0 50px #00bfff, 0 0 60px #00bfff, 0 0 70px #00bfff;
  font-size: 2.5em; /* 调整字体大小 */
}

input, button {
  margin: 20px 10px;
  padding: 10px;
  border: 1px solid #000080; /* Navy */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em; /* 调整字体大小 */
}

button:hover {
  background-color: #104e8b; /* DodgerBlue Darker */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0; /* 增加上下间距 */
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: #ffffff; /* White */
  text-decoration: none;
  font-size: 1.5em; /* 调整字体大小 */
  padding: 5px 19px;
  border-radius: 5px;
  background-color: #2db5c391; /* DodgerBlue */
  transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
  text-decoration: underline;
  background-color: #104e8b; /* DodgerBlue Darker */
  transform: scale(1.05);
}

.log-info {
  height: 200px;
  overflow-y: scroll;
  background-color: #ffffff; /* White */
  padding: 10px;
  border: 1px solid #b3d9ff; /* Light Blue Border */
  border-radius: 5px;
  margin-top: 20px;
}

.log-entry {
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #b3d9ff; /* Light Blue Border */
}

.log-entry:last-child {
  border-bottom: none;
}

.log-timestamp {
  color: #007acc; /* Blue */
  font-weight: bold;
}

.log-message {
  color: #333333; /* Dark Gray */
}

.node-info, .heartbeat-info, .nodes-list {
  margin-top: 20px;
  background-color: #e6f7ff; /* Light Blue */
  padding: 10px;
  border: 1px solid #b3d9ff; /* Light Blue Border */
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
}

.info-item {
  margin-bottom: 10px;
}

pre {
  white-space: pre-wrap; /* Wrap long lines */
  word-wrap: break-word; /* Break long words */
}